<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<include file="$(find pothole_detector)/launch/world.launch" />
	<param name="robot_description" command="cat '$(find pothole_detector)/urdf/bot1.urdf'"/>

	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -z 0.01 -model robot_model" respawn="false" output="screen" />
</launch>