<?xml version="1.0" encoding="UTF-8"?>
<launch>
	<include file="$(find pothole_detector)/launch/world.launch" />
	<!-- <param name="robot_description" command="cat '$(find pothole_detector)/urdf/bot1.urdf'"/> -->
	<arg name="model" default="$(find pothole_detector)/urdf/bot1.urdf"/>
	<param name="robot_description" command="$(find xacro)/xacro $(arg model)" />
	<node name="spawn_robot" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -x 0 -y 0 -z 5 -model robot_model" respawn="false" output="screen" />
</launch>